<h2>{{ recipe?.title }}</h2>
<div mat-subheader>Ingredients</div>
<mat-list role="list">
	<mat-list-item *ngFor="let ingredient of recipe?.ingredients" role="listitem">
		{{ ingredient }}
	</mat-list-item>
</mat-list>
<p>{{ recipe?.description }}</p>
<div>
	<a mat-button [routerLink]="['/edit-recipe', recipe?.id]">
		<mat-icon class="add-course-btn">edit</mat-icon>
	</a>
	<button mat-button (click)="delete()">
		<mat-icon class="add-course-btn">delete_forever</mat-icon>
	</button>
</div>
