:host {
	width: 100%;
	max-width: 500px;
	height: 100%;
	padding: 0rem 1rem;
}

form {
	display: flex;
	flex-direction: column;
}

.new-ingredient-container,
.added-ingredient-container {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
