<div class="container">
	<h2>{{ id ? 'Edit recipe' : 'Create recipe' }}</h2>

	<form [formGroup]="form">
		<mat-form-field>
			<mat-label>Title</mat-label>
			<input matInput formControlName="title" />
		</mat-form-field>
		<div formArrayName="ingredients">
			<div
				class="added-ingredient-container"
				*ngFor="let ingredient of ingredients.controls; let i = index">
				<p>{{ ingredient.value.name }}</p>
				<button type="button" mat-button (click)="removeIngredient(i)">
					<mat-icon> delete_forever</mat-icon>
				</button>
			</div>
		</div>

		<div class="new-ingredient-container">
			<mat-form-field>
				<mat-label>New ingredient</mat-label>
				<input matInput formControlName="ingredient" />
			</mat-form-field>
			<button
				type="button"
				mat-button
				[disabled]="!form.controls['ingredient'].value"
				(click)="addIngredient()">
				<mat-icon>add</mat-icon>
			</button>
		</div>

		<mat-form-field>
			<mat-label>Description</mat-label>
			<textarea matInput formControlName="description"></textarea>
		</mat-form-field>
	</form>
	<button *ngIf="!id" mat-raised-button color="accent" [disabled]="form.invalid" (click)="create()">
		Create
	</button>
	<button *ngIf="id" mat-raised-button color="accent" [disabled]="form.invalid" (click)="update()">
		Edit
	</button>
</div>
