<header>
	<mat-toolbar class="container" color="primary">
		<a routerLink="/" mat-button><h1>Recipes</h1></a>
		<nav>
			<ul>
				<a routerLink="/recipes" mat-button>All recipes</a>
				<a routerLink="/create-recipe" mat-button>Create Recipe</a>
			</ul>
		</nav>
	</mat-toolbar>
</header>
