* {
	text-transform: uppercase;
}

header {
	position: fixed;
	width: 100%;
	z-index: 100;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
}

h1 {
	margin: 0;
}
