/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
	--max-width: 1080px;
	--font-family: Roboto, 'Helvetica Neue', sans-serif;
	--header-height: 3em;
	--footer-height: 4em;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: var(--font-family);
}

*,
::after,
::before {
	box-sizing: border-box;
	font-family: var(--font-family);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
	margin: 0;
}
