<h2>Recipes</h2>

<a *ngFor="let recipe of recipes" [routerLink]="['/recipes', recipe.id]">
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ recipe.title }}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>{{ recipe.description }}</p>
		</mat-card-content>
	</mat-card>
</a>
