#app-wrapper {
	display: grid;
	align-content: space-between;
	grid-template-rows: var(--header-height) 1fr auto;
	grid-template-areas:
		'header header header header'
		'main   main   main   main'
		'footer footer footer footer';
	min-height: 100vh;
}

main {
	display: grid;
	grid-area: main;
	place-items: start center;
	align-content: start;
	width: 100%;
	padding: 1rem 0;
	margin-top: var(--header-height);
}

.header {
	grid-area: header;
}

.footer {
	grid-area: footer;
}
